body{
    background-color: slateblue;
    background-image: url(obgh.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-image{ 
    background-color: blanchedalmond;
}
.hero-text{
    text-align: center;
}
img{
    border-radius: 10px;
    padding:10px;
}
div{
    border-radius: 20px;
    border-collapse:collapse;
    padding: 10px;
}
button{
    width: 50%;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
h4{
    text-align: center;
}
.center {
  margin-left: auto;
  margin-right: auto;
}


